<form method="POST" action="/signIn">
    <h2>Авторизация</h2>
    <input type="text" name="username" placeholder="login" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <button type="submit">Войти</button>
</form>

<form method="POST" action="/signUp">
  <button type="submit">Регистрация</button>
</form>

